.tasklist {
  padding: 8px;
  background-color: #7eb4cf;
  border-radius: 2px;
}

.tasklist .title {
  padding: 4px;
  font-weight: bold;
  background-color: rgba(15, 15, 15, 0.993);
  text-align: center;
}

.tasklist .content {
  color: rgb(255, 255, 255);
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.tasklist .content .empty-list {
  text-align: center;
  border: 1px dashed rgb(224, 72, 72);
  border-radius: 4px;
  padding: 4px;
}

.tasklist .btn {
  margin-top: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  background: #00b8d4;
  transition: background-color 0.3s;
}

.tasklist .btn:hover {
  background-color: #d40a36;
  cursor: pointer;
}

.tasklist .btn img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
